#art {
  margin-top: 20px;
  display: table;
  border-spacing: 1px;
  background-color: black;
  border: 5px solid black;
}

#animation {
  margin-top: 20px;
  display: table;
  border-spacing: 1px;
  background-color: black;
  border: 2px solid black;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
}

.page {
  display: table-cell;
  background-color: white;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
}


.pen {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid black;
}

